.font-1-l {
    font: 600 1.31rem/1.96rem 'Outfit', sans-serif ;
}

.font-1-l-b {
    font: 600 1rem/1.5rem 'Outfit', sans-serif ;
}

.font-1-m {
    font: 400 1rem/1.5rem 'Outfit', sans-serif ;
}

.font-1-s {
    font: 300 1rem/1.5rem 'Outfit', sans-serif ;
}
